header{
  color: #904263;
}

body{
  background-color: white;
  /* background-image: url(docs/pictures/logo.png);
  background-size: cover; */
  font-family: 'Open Sans', sans-serif;
}

header, footer {
  background-color: #B69EA8;
  background-size: cover;
  height: 15vh;
}


/*
.hidden--mobile{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
} */

form{
  display: inline-flex;
  flex-direction: column;
}

#trainingForm{
 border-style: solid;
 border-color: #904263;
 border-radius: 25px;
 height: 250px;
 justify-content: center;
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  nav > .fa-bars{
    display: none;
  }
}


@media (max-width: 550px) {
  .hidden--mobile {
    display: none;
  }
}

.team-pictures, .team-descriptions{
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
}

.team-member-photos, .business-photos{
  height: 20vh;
  border-radius: 50%;
}

/* .about-page-grid{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto; */
  /* grid-template-areas: "one" "two" "two" "two"
    "one" "two" "two" "two"
    "." "." "." "."
    "four" "four" "four" "four"; */
/* } */

/* .about-us-body-text{
  grid-area: one;
  background-color: aqua;
} */

/* .team-member-info{
  grid-area: two;
} */

.map{
  padding-left: 500px;
  padding-right: 500px;
}



